In [1]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv('employee_dataset.csv', encoding='utf-8', encoding_errors='ignore')

data.info()
# data.shape
# data.dtypes
# data.memory_usage(deep=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee ID    1243 non-null   object
 1   Full Name      1222 non-null   object
 2   Job Title      1204 non-null   object
 3   Department     1215 non-null   object
 4   Business Unit  1180 non-null   object
 5   Gender         1213 non-null   object
 6   Ethnicity      1220 non-null   object
 7   Age            1256 non-null   float64
 8   Hire Date      1227 non-null   object
 9   Annual Salary  1189 non-null   object
 10  Bonus %        1214 non-null   object
 11  Country        1156 non-null   object
 12  City           1207 non-null   object
 13  Exit Date      125 non-null    object
dtypes: float64(1), object(13)
memory usage: 138.2+ KB

In [21]:
data.columns

Index(['Employee ID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'Country', 'City', 'Exit Date'],
      dtype='object')