## BASICS

In [1]:
import requests
import pandas as pd
import json

In [14]:
# Series - a single column/row in a table - one dimensional
# Values of series can be changed, but size is immutable

#creating a series from a list
a = [1,2,3,4,5,"ankit"]
ser_list = pd.Series(a)
ser_list

#creating a series from dictionary
dict_a = {
    "name": "Ankit",
    "age":25,
    "nationality": "Indian"
}
ser_dict = pd.Series(dict_a)
ser_dict

#creating series from scalar value
scalar = pd.Series(10, index=[x for x in range(10)])
scalar

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [45]:
# DATAFRAME
# multiple Data, rows, columns - Heterogenous and size mutable

#creating dataframe using list
a_list = [[1,2,3,4,5,6,7], [8,9,10,11,12,13]]
df_list = pd.DataFrame(a_list) 
print("list df \n",df_list)

#creating dataframe using dictionary
a_dict = {
    "names" : ["Ankit", "Apple", "Mango"],
    "color" : ["Red", "Blue", "Green"]
}
df_dict = pd.DataFrame(a_dict)
print("dictionary dataframe")
df_dict

#creating a df using a list of dictionaries ***** ##### !!!!
# KEY OF EACH DICT ELEMENT IS COLUMN NAME
li_dict = [
    {"userId" : 1, "user_name": "Ankit"},
    {"userId" : 2, "user_name": "Ankit1"},
    {"userId" : 3, "user_name": "Ankit2"},
    {"userId" : 4, "user_name": "Ankit3"},
    {"userId" : 5, "user_name": "Ankit4"},

]

li_dict_df = pd.DataFrame(li_dict)
li_dict_df

list df
    0  1   2   3   4   5    6
0  1  2   3   4   5   6  7.0
1  8  9  10  11  12  13  NaN
dictionary dataframe

   userId user_name
0       1     Ankit
1       2    Ankit1
2       3    Ankit2
3       4    Ankit3
4       5    Ankit4

### Handling Json and Manimupulating Json Data

In [25]:
# https request and response to POST API endpoint


url = "https://jsonplaceholder.typicode.com/posts"
response = requests.get(url)
response

In [48]:
# Parsing Json
data = response.json()
# Finding user with most post

dataset = pd.DataFrame(data)
dataset

# dataset["userId"].value_counts()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [ ]:
# METHODS TO ANALYZE UNIUQE VALUES IN A SERIES/COLUMN